.axis
{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.rectSelec {

    fill: #b3ffb3;
    opacity : 0.5;
    stroke-width : 1.5;
    stroke: #006600;

}
.lgd{
    width: 0.75em;
    height: 0.75em;
}
.frame{
    fill:none;
}

table{
    border-collapse: collapse;
    width: 100%;
}


tr.outlined{

    border: solid thin;

}

.rectAxis{
    fill:#ffffff;
    stroke:#ffffff;
}
.data{
    stroke-width: 0.5;
}

.part{

    stroke-width: 1;
    stroke: #fff6f6;

}

col.color{
/*
    display: inline-block;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    width:25%;*/
    width: 20%;
}
col.item{
    padding-top: 100px;

    width: 60%;
}


.graph{
    position:relative;
    background-color: #fcfcfc;
}
.diagram{
    display: inline-block;
}

div.diagram{
    width: 200px;
    height: 650px;
    overflow: scroll;
    vertical-align: top;
    cursor: default;
}
.popup{
    position:absolute;
    background-color: #fff6f6;
    border: 1px #ccc solid;
    border-radius: 6px;
    box-shadow: #333 2px 2px 4px;

}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}

.overlay{
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
}


.elem text {
    font: 10px arial;
    text-anchor: middle;
}

.bckgr-txt{
    text-anchor: middle;
    font: 50px sans-serif;
    font-weight:900;


}

.pieSvg{


}